html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: white;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 20px;
  font-weight: bolder;
  font-size: 1.7em;

  border-bottom: solid black 3px;
}

#book-icon {
  width: 40px;
  height: 40px;
}

.footer {
  background-color: rgb(189, 184, 184);
  min-height: 60px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;

  display: flex;

  align-items: center;
  justify-content: center;
}

.display {
  background-color: rgb(223, 216, 216);
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;

  padding: 50px;
  gap: 10px;
}

.book-card {
  background-color: white;
  width: 200px;
  height: 250px;
  border: solid black 3px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.book-name {
  font-size: 1.3em;
  font-weight: bold;
  font-style: oblique;
}

.book-author {
  font-weight: bold;
}

.fa.fa-trash-o {
  font-size: 30px;
  color: red;

  position: absolute;
  bottom: 15px;
  right: 15px;

  cursor: pointer;
}

.book-read {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.scrollable {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.button_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;

  right: 40px;
}

.button_plus:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776;
  transition: 0.2s;
}
